.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 180px;

  @media(max-width: 1725px) {
    padding: 0 100px;
  }

  @media(max-width: 1600px) {
    padding: 0 60px;
  }

  @media (max-width: 1250px) {
    padding: 0 40px;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}
