.main-nav {
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    background-color: $color-blue-charcoa;
    overflow-y: auto;
    padding: 180px 0 0 0;
    display: none;

    @include vp-1023 {
        height: calc(100vh - 75px);
        top: 75px;
        padding: 80px 0 0 0;
    }

    @include vp-767 {
        height: calc(100vh - 60px);
        top: 60px;
        padding: 40px 0 38px 20px;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;

        @media(max-width: 1300px) {
            gap: 60px;
        }

        @include vp-1023 {
            display: grid;
            grid-template-columns: 280px 280px;
            gap: 80px 60px;
        }

        @include vp-767 {
            gap: 40px;
            display: flex;
            flex-direction: column;
            width: 280px;
        }
    }

    &__menu-inner--secondary {
        grid-row: 2;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 350px;

        @media(max-width: 1300px) {
            width: 280px;
        }
    }

    &__link {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $color-white-50;
        text-transform: uppercase;

        &:hover,
        &:focus-visible {
            color: $color-white;
        }

        &--secondary {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0;
            text-transform: none;
        }
    }

    &__choice {
        display: none;

        @include vp-767 {
            display: flex;
            flex-direction: row;
            gap: 5px;
            color: $color-white;
            align-items: center;
            margin: 50px 0 0 0;
        }

        &-text {
            @include vp-767 {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                text-align: right;
                text-transform: uppercase;
            }
        }

        &-link {
            color: $color-white;
        }
    }

    &__social {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 56px;
        top: 116px;
        right: 50px;

        &-link {
            color: $color-marengo;

            &:hover,
            &:focus-visible {
                color: $color-ecru-white;
            }
        }

        @include vp-1023 {
            top: 100px;
            right: 20px;
            gap: 47px;
        }

        @include vp-767 {
            top: 96px;
            gap: 46px;
        }
    }


}