.page-content {

    &__info {
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include vp-1023 {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__switch {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding-bottom: 20px;

        @include vp-1023 {
            padding: 0;
        }

        @include vp-767 {
            gap: 15px;
        }
    }

    &__switch--secondary {
        @include vp-1023 {
            padding: 20px 10px 20px 20px;
        }
    }

    &__toggle {
        margin: 0;
        padding: 0;
        border-color: transparent;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &:hover,
        &:focus-visible {
            color: $color-blue-charcoa;
        }

        &--false {
            color: $color-mischka;
        }

        &--true {
            color: $color-blue-charcoa;
        }
    }

    &__icon {
        @include vp-1023 {
            width: 20px;
            height: 20px;
        }
    }

    &__toggle-text {
        font-size: 18px;
        line-height: 26px;

        @include vp-1023 {
            display: none;
        }
    }


    &__list--list {
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style-type: none;
        padding: 0;
    }

    &__list--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        list-style-type: none;
        gap: 20px;
        border-top: 1px solid $color-iron;
        padding: 38px 0 20px;
        width: 100%;
        justify-content: space-between;

        @include vp-1023 {
            grid-template-columns: auto;
            width: 100%;
            padding: 30px 0 15px;
        }

        @include vp-767 {
            gap: 15px;
        }
    }

    &__item--list {
        display: flex;
        flex-direction: row;
        gap: 72px;
        justify-content: flex-start;
        border-top: 1px solid $color-iron;
        padding: 55px 28px 60px;
        min-height: 380px;

        &:hover,
        &:focus-visible {
            background-color: $color-twilight-blue;
        }

        @media(max-width: 1440px) {
            gap: 5px;
            padding: 55px 0 60px;
        }

        @include vp-1023 {
            width: 100%;
            flex-direction: column;
            gap: 20px;
        }

        @include vp-767 {
            padding: 30px 0 30px 0;
            gap: 15px;
        }
    }

    &__item--grid {
        display: flex;
        max-width: 674px;
        min-width: 335px;
        border-top: none;
        min-height: 360px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-1-grid.jpg"), url("../images/news/img-1-grid@2x.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
        padding: 40px;
        gap: 20px;
        position: relative;
        display: none;

        &:hover,
        &:focus-visible {
            filter: brightness(50%)
        }

        @media (max-width: 1500px) {
            width: 580px;
            padding: 30px;
        }

        @media (max-width: 1300px) {
            width: 460px;
            padding: 30px;
        }

        @include vp-1023 {
            width: 100%;
            padding: 20px;

        }

        @include vp-767 {
            min-height: 350px;
        }

        @media (max-width: 550px) {
            min-height: 250px;
        }

        @media (max-width: 375px) {
            min-height: 200px;
            max-width: 335px;
            margin: 0 8px 0 0;
        }
    }

    &__list--grid .page-content__item--grid-one {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-2-grid.jpg"), url("../images/news/img-2-grid@2x.jpg");
    }

    &__list--grid .page-content__item--grid-two {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-3-grid.jpg"), url("../images/news/img-3-grid@2x.jpg");
    }

    &__list--grid .page-content__item--grid-three {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-4-grid.jpg"), url("../images/news/img-4-grid@2x.jpg");
    }

    &__list--grid .page-content__item--grid-four {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-5-grid.jpg"), url("../images/news/img-5-grid@2x.jpg");
    }

    &__list--grid .page-content__item--grid-five {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/news/img-6-grid.jpg"), url("../images/news/img-6-grid@2x.jpg");
    }

    &__top {
        display: flex;
        flex-direction: row;
        gap: 100px;

        @media(max-width: 1650px) {
            gap: 50px;
        }

        @include vp-1023 {
            gap: 30px;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }


    &__item--grid .page-content__top {
        display: block;
        gap: 0;
        width: 100%;
        margin: auto 0 0 0;
    }


    &__item--list .page-content__image {
        display: flex;
        max-width: 340px;
        max-height: 220px;

        @include vp-767 {
            max-width: 767px;
            width: 100%;
        }

        @media(max-width: 375px) {
            max-width: 335px;
            max-height: 180px;
        }
    }

    &__item--grid .page-content__image {
        display: none;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 400px;

        @media(max-width: 1440px) {
            margin: 0 0 0 5px;
            max-width: 350px;
        }

        @include vp-767 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 32px 1fr;
            max-width: 767px;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }
    }

    &__item--grid .page-content__block {
        width: 100%;
        max-width: 594px;
        display: grid;
        gap: 10px;
        grid-template-rows: auto 1fr;
    }

    &__title {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $color-blue-charcoa;
        margin: 0;
        padding: 0;

        @media(max-width: 1200px) {
            font-size: 20px;
        }

        @include vp-767 {
            grid-column: span 2;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__item--grid .page-content__title {
        font-weight: 300;
        vertical-align: bottom;
        color: $color-white;

        @include vp-767 {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    &__data {
        font-size: 14px;
        line-height: 20px;
        color: $color-mischka;
        margin: 0;
        padding: 0;

        @include vp-767 {
            grid-column: 1;
            grid-row: 1;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__item--grid .page-content__data {
        font-weight: 400;
        grid-row: 1;
        color: $color-white;
        justify-content: flex-end;

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        color: $color-blue-charcoa;
        background-color: $color-ecru-white;
        padding: 8px 16px;
        border-radius: 60px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto 0 0;

        &:hover,
        &:focus-visible {
            background-color: $color-chrome-white;
        }

        @include vp-767 {
            grid-column: 2;
            grid-row: 1;
            margin: 0 0 0 auto;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__item--grid .page-content__link {
        content: "";
        position: absolute;
        left: 6%;
        top: 11%;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: $color-blue-charcoa;
        max-width: 400px;
        width: 100%;
        margin: 0;
        padding: 0;

        @include vp-1023 {
            max-width: 900px;
            width: 100%;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
            padding-right: 8px;
        }
    }

    &__item--grid .page-content__text {
        display: none;
    }


}